body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    
    background-image: url('images/main-background.jpg');
    background-size: cover; /* This will scale the image to cover the entire viewport */
    background-repeat: no-repeat; /* Prevent the image from repeating */
}