.troll-form{
    border: 1px solid black;
    margin: 15px;
    padding: 30px;
}

body {
    margin: 0;
    padding: 0;
}

.result, .sum-btn, .req-btn{
    display: block;
    margin: 10px;
}

.result-label{
    margin: 0 10px;
}

.sentence-receiver {
    width: 320px;
    height: 100px;
}

.title-label {
    display: block;
    margin-top: 10px
}

.req-btn{
    padding: 25px;
}